
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>&copy; 2020 Made by Zoomary&trade; group</p>
    <p></p>
    <div class="disclaimer">This service is provided by students for students.<br>
   The university and its faculty are not responsible for any content displayed on this page.</div>
  </div>
 </div>
</body>
</html>
